/* css reset */
*{
    box-sizing: border-box;
}
body, p, form,ol,li,ul,input{
    margin:0; 
    padding:0;
}   
ol,li,ul{
    list-style:none;
}
img{
    display: block;
    width: auto;
    max-width: 100%;
}
input,button{
    outline:none;
    resize:none;
    border:0;
}
a{
    text-decoration:none;
}
.clear-fix{
    clear: both
}


/* css 用户中心和修改密码公用一个css*/
body{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
header{
    overflow: hidden;
    padding-top: 20px;
}
.indexImg{
    float: left;
}
.signout_button{
    float: right;
    border: 1px solid #E2644C;
    color: #E2644C;
    font-size: 16px;
    border-radius: 4px;
    line-height: 42px;
    padding: 0 30px;
}
form{
    width: 100%;
}
.user_name{
    width: 80%;
    display: block;
    margin: 12px auto 30px auto;; 
    font-size: 30px;
    color: #E2644C;
    text-align: center;
    height: auto;
    padding: 0;
    border: none;
    line-height: normal;
}
nav#tabs > ul{
    margin: 0px auto 50px auto;
    max-width: 600px;
    width: 100%;
    overflow: hidden;
}
nav#tabs > ul > li{
    width: 45%;
    border-bottom: 1px solid #BABFC3;
    font-size: 16px;
    text-align: center;
    line-height: 48px;
}
nav#tabs > ul > li > a{
    display: block;
}
nav#tabs .icon {
    display: inline-block;
    height: 48px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    vertical-align: middle;
}
.icon_user{
    background-image: url('data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXBJREFUeNqEkktPwkAUhZm2JoxAH4KUSiXIw1eiYUHihoUbf7aJMSFxYYIBRAQBEVAJBKVYKEwFb4M2rYKcxV2cOV9ncm7RbDZz2NXudO/L1fFkssYw8Wg4KAWsp+gXUG+0SpWax+3aEPi+MnjvK+GQHI+EzQBjTWvaGNLbQWk/Hp07tafmQ/VR3PSxHvfcoWyfb7ZgmmnQTkhGCNXqDdOxAYQQxx/RNEV0fTEg8BzM6XRqNXX9U+DYxYAk+mFmcgXTyRdLMENycGlLnW7vJl9Yx9jnFaAiZfBxsBuTtwJLARDk7soVVVWxE+/FIkD+twdTYCO0wLft4aXdeX5twzP0n1pommbdLingN/f9fYM6HF5nchNCKIriORY7ndAm1DXStL5i8BSFkoljjvUYACH6RfqKYZjE0aG1QVNwZ7ZQHI201EnSADLZ227v7ew05fhX55dpjLGxB0h7Bd6xSpIoqurQAObvXgnA/wcdfAkwAAI+pqTAje/WAAAAAElFTkSuQmCC');
}
.tab_selected .icon_user{
    background-image:url('data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYBJREFUeNpi/P//PwMq+Hb26Ifls/5+fMfExSMQksht64Ysy4im4fPO9R/WzGOVVeLQ0v919+bPO9d4PYIFghMQKv4jgd9vXj5K8Xm3ZBpc5OPWVUCRnw/vwEWYkI3/smcTkBSMzoSL8HmFMjKzfNqyEi6CouHv548MGICRje3f18/YNXCo64Ic+fsXsuC/79/Y1XSwa+CydASSbyY1wkXezesHkrzOfjhD6fvFk2+mtLCISXHqGv+8c/3XwzuCsdk8dh44NQABMCjfL53+++lDFlFJwYhUDl0TfPGAHN4MjIyYwiwocXzywNeje389uP3v+1eoeewcbHLK3JZO8PiG2vD7+eNX3ZX/Pn9kZGVjV9ZgFpVgYuMABtefty9/3b/179tXRhYWsZJ2NmUNUEz//fwJGJ1PcsN/3LryHxsAxvSzylSgmt+vnoFseD2x4ceVs7KzNzPgBU8yA1nEJEHxAFTNoWXAQAhwWTr/fvYYpAHkbhVtghrY5JWBYQAQYADEXd03s9yNygAAAABJRU5ErkJggg==');
}
.icon_pwd{
    background-image:url('data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXdJREFUeNp0UttOwkAQZRu2aUvBQLkIIgVBRBtjfDJGH/T/H4wSKkS0lIvIVeUSCwXqlOK2gMzD9GT2nO6ZmUWGYbgc0e1/virqYDgC7PPy6aQYFPxOAnIKyoqqqDUAISEAudPrQ06Jh5mUSDhuglqdLrBj+2EplyXFQvEFij6eD4cEq0KRs7xcZFnGyYaQcscswzzJRVJZCX40DayJ8QPXViTiMbCtaZM1AXab3igKbQt4D2dax+61HtRaAzJN01NdrwJGKyV8vgZDi5BOJlaCx8Jzu9OjKIrnuMlkqlTrG5fA0VulOhqPL6RTUwDsaCSUzRxZxu5urjDGAHR9Zg4dmfeUykqz1bYtcSxLL0lmPxh/L23s+bzkEg/HrvUwm8/tZff6D3kZwOW5RNZMCNT2WOyO/5mZY9MkggE/QghGLAT8OwX4rwEr7m+vN35vzcMW1BtN5yvkGMZYrp9UGu8f9muFecml8mKxcO0OWMXZSSYaCf8KMAAt/I1aiRkzmgAAAABJRU5ErkJggg==');
}
.tab_selected .icon_pwd{
    background-image:url('data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaJJREFUeNpi/P//PwMS+HHl7MeNS389uA1ksymo8vtFceiaICtgRNbwccPiT1tXARmceqZA8vul00CSzzuMPyAWoeM/DHw9ffhRis/bef3///2DC76dPwEo+O3sUbgIQsOjVN9nlSn/McCz8qRHaf5wLhPEnj9vXgK18roFMmAAHtcAhn9//757DeFCNTBx84A8xMyCqYFVWh6kgIsHwoWq+LxzPUiUT+Df54+f92wE6oUFCuOvu9eB9Kdd6/j9oqEa3kxv/37uGCMLK6uU3N8Pbz9tW41mCSMr26fNK34/fSSSWQnyNDAc3szu+fvpw/+/f4Ho7+ePEP/9/fzpz6cPQHGgyNu5vUBlQEGok1jFpZl4+aH+4eH7de8m0CQ2ZQ24JSwSMih++PfjG1wOGF9vJjcBGaJ59fBo/vf9G0ooobiYiQnuY0xZWDgiSXHoGDMwMQHDAMSAmwJTAdXAxMWLbIzM5FVoxkMiCqHhy4FtwOgEKQKnRRZRSWAq+/P6BdRh//9/ObwTkVq/ndj/buHk/39+M+AGQBcKxedyWTgCBBgAUY7vHv4ZCl0AAAAASUVORK5CYII=');
}
nav#tabs .text {
    vertical-align: middle;
    display: inline-block;
    color: #BABFC3;
}
#tabs_info{
    float: left;
}
#tabs_pwd{
    float:right;
}
.tab_selected .text{
    color: #E2644C !important;
}
.tab_selected{
    border-bottom: 1px solid #E2644C !important;
}
#user_input > ul{
    margin: 0px auto 0px auto;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
}
#user_input > ul >li{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    display: block;
    border-bottom: 1px solid #BABFC3;
    line-height: 36px;
}
#user_input label{
    position: absolute;
    width: 28px;
    left:5px;
    vertical-align: middle;
    white-space: nowrap;
    color: #505556;
    font-size: 14px;
}
.icon_edit{
    width: 48px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAS1JREFUeNpi/P//PwNe8Pv547fT2v79/CGSWcmmqMZIUMOTrOD/v3+BWIyM4hXd+DT8efuKmU/g25mj7+b1QUQYOThZcKn+++7Ni5p0VhlF8eo+Zn7B1/21INH//7Hb8Pfd6xfN+f++fAayOfVMRXLrvl889X7xVOHUEiwagC552Vr07/NHuAi7mo5Yafv/Xz8Z2diZ0FW/eYmmGgh+3rry6+EdoGogmwXNJSDVXz6hmSJW3sUmrwJhs6C4uyn/39fPmKrZVTThXCYUX2JR3YmsGmoDUN2LlkJImOAxG2HDt9OH0XyJSzXUhm9njqCrruhiV9bEGqFMfz+8+3nzMkKAkRGPapANn3eug7BYpeU5DS25zR1YJKTxpEWWP6+fc9u6c1s4AKOTgQgAEGAAcGOU7T9wukIAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.edit_value,.show_value{
    padding-left: 40px;
}
.edit_value {
    overflow: hidden;
}
.edit_value > ul > li{
    overflow: hidden;
    margin-bottom: 8px;
}
.show_value input{
    display: block;
    height: 36px;
    line-height: 36px;
    width: 90%;
    color: #8f9296;
    font-size: 14px;
}

.edit_value input{
    display: block;
    float: left;
    line-height: 50px;
    height: 50px;
    border: 1px solid #e2644c;
    padding: 0 8px;
    border-radius: 4px;
    width: 320px; 
}
.edit_value .btn{
    height: 50px;
    line-height: 50px;
    width: 112px;
    float: right;
    background-color: #E2644C;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}
.now_edit{
    border: 0 !important ;
}
.hide ,.now_edit .show_value ,.now_edit .icon_edit{
    display: none;
}
.now_edit .hide {
    display: block;
}
.now_edit label{
    line-height: 50px;
}
#user_input_pwd{
    max-width: 400px;
    margin: 0 auto;
}
#user_input_pwd input {
    height: 50px;
    display: block;
    line-height: 50px;
    width: 100%;
    height: 50px;
    padding: 0 8px;
    border-radius: 5px;
    border: 1px solid #BABFC3;
    background-color: #fff;
}
#user_input_pwd input:focus{
    border: 1px solid #e2644c;
}
#user_input_pwd ul{
    margin-bottom: 24px;
}
#user_input_pwd li{
    margin-bottom: 14px;
}
.pwd_submit{
    opacity: 0.7;
    border-radius: 4px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    background-color: #E2644C;
    color: #E2644C;
    color: #fff;
    transition: all .25s;
    text-align: center;
    cursor: pointer;
}





